
#welcome #box-ofer
		width 30%
		margin 0 auto
		padding 0	
		display inline-block
		vertical-align top


#welcome #box-ofer	form
						display block
						margin 0 auto 5px auto
						padding 2px
						height 40%
						width 100%
						text-align center
						background-color #FFD700

						#user-phone, #user-nombre, #datepicker
													border-radius 2px
													border solid 1px #FFF
													margin 2px auto
													height 1.3em
													width 45%
													display inline-block
													transition 0.7s ease all
													color #FE4900
													padding 5px 2px
													text-align center
													font-size 1.3em
											
						#select-inflable
								border-radius 2px
								border solid 1px #FFF
								margin 2px auto
								height 2.5em
								width 94%
								display block
								transition 0.7s ease all
								color #333
								padding 5px 2px
								text-align center

						#datepicker
									width 55%

						#g-recaptcha
									text-align center
									margin 0 auto

						.book-now-btn
									width 35%
									background #9BDF11
									border solid 1px #E9F906
									margin 2px 5px
									cursor pointer
									font-size 1.5em
									font-family Oswald, sans-serif
									color #fff
									display inline-block
									transition 0.7s ease all
									box-shadow inset 0 1px 0 rgba(126, 192, 41, 0.5),0 5px 0 0 rgba(127, 168, 6, 0.9),0 10px 5px #5F6E03
									border-radius 5px
									padding 5px 2px
									float right

						h4
							color #efefef
							font-size 1.6em
							padding 2px 5px
							background-color #fe4900
							margin 2px auto 10px auto
							border-radius 2px
							box-sizing border-box
							text-align center

						.book-now-btn:hover, .book-now-btn:focus 
											color #dfe7ea
											box-shadow inset 0px 1px 0px rgba(255,255,255,0.5), 0px 2px 0px 0px rgba(255,255,255,0.5), 0px 2px 5px #999

#welcome #box-sm
				margin 0 auto
				text-align center
				padding 2px 0
				background rgba(255,255,255,0.7)
				display inline-block
				vertical-align top
				height 40%
				width 100%

#welcome #box-sm ul li
	margin 2px
	padding 0
	display inline-block

#welcome #box-sm ul li a
						display inline-block
						vertical-align top
						padding 0
						font-size 1.8em
						color #D20033
						text-shadow 0 0 2px rgba(60,60,60,0.5)
						transition all 0.5s ease

#welcome #box-sm ul li a:hover
							color #00AF64
							transform scale(1.1)