@media screen and (max-width:945px)
	nav ul li
		vertical-align top
		text-align center
	
	nav ul
		text-align left


	.miniserv
		width 40%

@media screen and (max-width:800px)
	.p2, .p3
		display none

	nav ul li
		width 19.7%

	.menu_inflables figure
						width 38%

	#welcome #wowslider-container1
				display block
				width 98%
				padding 0
				margin 0
				
	#welcome #box-ofer
				display block
				width 100%

				form
					#select-inflable
						width 92%

			form
				h4
					width 100%
					padding 0
					margin 0

				#user-email, #user-nombre, #datepicker
					width 48%

				#select-inflable
					width 70%

	#vp1XqISc
			width 90%


@media screen and (max-width:650px)

	header nav ul li
					width 33.0%
					padding 0

	h3
		text-align left

	.lista-imagenes, .datos
		width 100%
		display block
		margin auto

	article, aside
		width 100%
		display block

	aside
		margin-top 10px
		text-align center

	.submenu 
		display none

	#welcome
		padding 0
		margin 0

	figure .fb-like
		display none

	article#banner_video
		display none
		overflow hidden

	#vp1XqISc
		display none
		overflow hidden

@media screen and (max-width:520px)

	header, header nav
		padding 0
		margin 0

	header nav ul
				padding 2px
				margin 0 auto

	header nav ul li
					border 0
					width 49.1%
					margin 2px

	header nav #bk-home,#bk-brincolines,#bk-mobiliarioytoldos,#bk-faq,#bk-contacto,#bk-blog, #bk-servicios
		background-image none
		border 0	

	header
		text-align center
		margin 0 auto


	#wowslider-container1
							display block
							width 100%

	figure
			padding 0

	.menu_inflables
		figure
			figcaption
				padding 0
				margin 0
				display none
			
	#social-holder
		width auto
		margin auto
		text-align center
	
	.p1
		display none

	.menu_inflables figure
						width 40%

	.lista-imagenes ul li
						width 45%

@media screen and (max-width:480px)

	#top_cintilla
		text-align center
		margin 0 auto
		padding 0

		#logo
			margin 0 auto
			padding 0
			display block
			width 100%
			
			img
				margin 0 auto
				padding 0


	header nav ul
					padding 0

	header nav ul li
					width 48.5%

	#welcome-servicios
					padding 0
					margin 0 auto
					text-align center

	.miniserv
			padding 0
			margin 5px auto
			width 90%
			display block
	
	#welcome #box-ofer
		display none


@media screen and (max-width:320px)

	#top_cintilla
		text-align center
		margin 0 auto
		padding 0

		#logo
			margin 0 auto
			padding 0
			display block
			width 100%
			
			img
				margin 0 auto
				padding 0

	h1
		font-size 2.4em

	#bk-home,#bk-brincolines,#bk-acercade,#bk-faq,#bk-contacto,#bk-blog
																		background-image none

	header nav ul li a
						text-align center

	nav ul li
				width 40%

	p
		text-align center
	li
		text-align left

	.menu_inflables figure
						width 90%

	.lista-imagenes ul li
						width 90%

	.miniserv
		width 97%

@media screen and (max-width:320px)

	header nav ul
		margin 0 auto
		text-align center

	header nav ul li
					width 97%