@media screen and (max-width:1171px)

	#landingp

		article

			header

				h1
					font-size 1.8em

				p
					font-size 1.2em
					top 5%

@media screen and (max-width:1090px)

	#landingp

		h3
			width 90%

@media screen and (max-width:966px)

	#landingp

		article

			header

				h1
					font-size 1.8em

				p
					font-size 1.2em
					top 4%
					width 60%

@media screen and (max-width:854px)

	#landingp

		article

			header

				h1
					font-size 1.8em
					top 1%

				p
					font-size 1.2em
					top 3%
					width 60%

			#mini-galeria

				figure
					width 45%

					.reserva
						top 70%

@media screen and (max-width:685px)

	#landingp

		article

			header

				h1
					font-size 1.8em
					top .5%
					width 80%

				p
					font-size 1.2em
					top 2%
					width 80%

@media screen and (max-width:586px)

	#landingp

		article

			header

				h1
					font-size 1.8em
					width 80%
					position relative
					left 0%
					top 0%
					background none

				p
					font-size 1.2em
					position relative
					width 80%
					left 0%
					top 0%
					background none

@media screen and (max-width:980px)
	#welcome #wowslider-container1
				display block
				width 98%
				padding 0
				margin 0

	#welcome #box-ofer
				display block
				width 100%
				margin 0 auto
				padding 0

				form
					#select-inflable
						width 92%

			form
				h4
					width 100%
					padding 0
					margin 0

				#user-email, #user-nombre, #datepicker
					width 48%

				#select-inflable
					width 70%

@media screen and (max-width:945px)
	nav ul li
		vertical-align top
		text-align center

	nav ul
		text-align left


	.miniserv
		width 40%

@media screen and (max-width:800px)
	.p2, .p3
		display none

	nav ul li
		width 19.7%

	.menu_inflables figure
						width 38%

	#vp1XqISc
			width 90%

@media screen and (max-width:678px)
	#logo
		display none

	#logo-min
			display block

@media screen and (max-width:650px)

	header nav ul li
					width 33.0%
					padding 0

	h3
		text-align left

	.lista-imagenes, .datos
		width 100%
		display block
		margin auto

	article, aside
		width 100%
		display block

	aside
		margin-top 10px
		text-align center

	.submenu
		display none

	#welcome
		padding 0
		margin 0 auto

	figure .fb-like
		display none

	article#banner_video
		display none
		overflow hidden

	#vp1XqISc
		display none
		overflow hidden

@media screen and (max-width:520px)

	header, header nav
		padding 0
		margin 0

	header nav ul
				padding 2px
				margin 0 auto

	header nav ul li
					border 0
					width 49.1%
					margin 2px

	header nav #bk-home,#bk-brincolines,#bk-mobiliarioytoldos,#bk-faq,#bk-contacto,#bk-blog, #bk-servicios
		background-image none
		border 0

	header
		text-align center
		margin 0 auto


	#wowslider-container1
							display block
							width 100%

	figure
			padding 0

	.menu_inflables
		figure
			figcaption
				padding 0
				margin 0
				display none

	#social-holder
		width auto
		margin auto
		text-align center

	.p1
		display none

	.menu_inflables figure
						width 40%

	.lista-imagenes ul li
						width 45%
	#landingp

		article

			header

			#mini-galeria

				figure
					width 80%

@media screen and (max-width:480px)

	#welcome #box-ofer
				display block
				width 100%
				margin 0 auto
				padding 0


	#top_cintilla
		text-align center
		margin 0 auto
		padding 0

	header nav ul
					padding 0

	header nav ul li
					width 48.5%

	#welcome-servicios
					padding 0
					margin 0 auto
					text-align center

	.miniserv
			padding 0
			margin 5px auto
			width 90%
			display block

	#welcome #wowslider-container1
		display none

@media screen and (max-width:360px)

	header nav ul
		border-radius 5px
		padding 2px
		width 96%
		margin 5px auto
		text-align center

	header nav ul li
		margin .5px
		width 49%

		a
			text-shadow none

	.btn_activo
		background orange

	#top_cintilla
		text-align center
		margin 0 auto
		padding 0

	h1
		font-size 2.4em

	p
		text-align center
	li
		text-align left

	.menu_inflables figure
						width 90%

	.lista-imagenes ul li
						width 90%

	.miniserv
		width 97%

	.datos
		.btn_reservar
			display none

@media screen and (max-width:320px)

	header nav ul
		margin 0 auto
		text-align center

	header nav ul li
					width 97%