
.menu_inflables
	width 100%
	margin 0 auto
	text-align center

.menu_inflables h3
	font-size 1.4em
	color #fff
	width 100%
	display block
	background-color #FF4900
	padding 5px
	text-align center
	border-radius 0

.menu_inflables h4
	color #fefefe
	font-size 1.2em
	text-align center
	background-color #09f 
	font-family Arial

.menu_inflables h5
	font-size 1em
	text-align center
	color #00c90d

	span
		color #088317

.menu_inflables figure
	border-radius 5px
	border 2px solid #eee
	background-color #F0C53A
	color #333
	padding 10px
	margin 5px
	width 22%
	display inline-block
	vertical-align top
	transition all 0.5s ease
	text-align center
	box-shadow 0 0 2px 2px rgba(46, 49, 50, 0.3)
	box-sizing border-box

	.btn_mas
		width 70%
		display block;
		margin 5px auto
		background-color #eb0038
		border-radius 2px
		color #fff
		box-shadow 0 0 5px #888
		text-align center
		padding 3px

	.btn_mas a:link
		color #ccc 

	.btn_mas:hover
		background-color #dd0038
		color #fff

.menu_inflables figure img
	width 100%
	padding 0
	margin 0
	border-radius 5px

.menu_inflables figure:hover
	transform scale(1.02)