@charset "utf-8"
@import "normalize.styl"
@import "iconos.styl"
@import "style-catalogo.styl"
@import "style-item.styl"
@import "book-now.styl"

body
	background-color #CCEEFF
	color #FFF
	font-family 'Noto Sans', sans-serif
	font-size 16px
	margin 0 auto
	padding 0

img
	border 0

h1,h2,h3,h4,h5,h6
	margin 0 auto
	font-family 'Wendy One', sans-serif
	text-shadow 1px 1px 1px rgba(60,60,60,0.5)
	text-align center

h1
	color #FC3
	font-size 3em
	display inline-block
	margin 0 auto

h1 img
		float left

h2
	text-align center

h3
	font-size 2.0em
	padding 2px 2px 2px 10px
	color #EEE
	background rgba(235,0,56,1)
	margin 10px auto
	box-sizing border-box
	text-align left
	border-radius 2px

h4
	color #EFEFEF
	font-size 1.6em
	padding 2px 10px
	background-color #FE4900
	margin 2px auto 10px auto
	border-radius 2px
	width 90%

h6
	font-size 1.0em

a
	text-decoration none

section, article, aside, .lista, .lista img, .lista ol, .lista li, .boletin, .boletin p, .menu_inflables ul li, #ubicacion
	box-sizing border-box
	margin 0 auto
	color #F30
	padding 0 10px

header
	display block
	margin 0 auto
	width 100%
	padding 0
	text-align center

	h1 img
			padding 0
			margin 0
			vertical-align top
			display inline-block
span 
	color #FF5C00
	font-size 1.3em

p
	width 80%

#top_cintilla
	padding 5px 5%
	text-align center

#logo, #info
	text-align center
	display inline-block

#logo
	width 20%
	
	img
		display block

#info
		text-align center
		margin 0 auto
		vertical-align bottom

#info h1 a:visited
				color #FC3

	nav
		margin 0
		text-align center
		width 100%
		display block
		padding 0
		border-bottom 1px solid #BF6230

	nav ul
			padding 0
			background-color #E7003E
			font-size  0

	nav ul li
			background-color #FFBC00
			color #FFF
			display inline-block
			font-size 16px
			height 45px
			line-height 45px
			margin 0
			text-align left
			width 19%

	nav ul li a
				display block
				color #FFF
				transition all 1s ease
				height 100%
				padding-left 5px

	nav ul li a:hover
				background-color yellow
				text-align center
				color #ee0000
				font-weight bold

	nav ul li a:visited
				border 1px solid #D30

#boletin_video article, aside
							display inline-block

article
	color #121212
	margin 0 auto
	padding 0px
	text-align center
	vertical-align top
	width 100%

aside
	width 30%
	margin 0 15px 0 auto
	text-align center
	padding 0px
	color #FFF

 article .lista li p
					width 75%
					margin 5px auto
					text-align justify
					padding 0
					color #39F

article p
			font-size 1.1em
			margin 15px auto
			width 85%

#banner_video
			width 60%
			padding 5px
			margin 0 auto
			display inline-block
			vertical-align top
			background-color #FFF

#boletin_video
			width 100%
			background rgba(235,0,56,1)
			border-bottom-left-radius 5px
			border-bottom-right-radius 5px
			border-top 1px solid #A63400

#section-rounded
		background rgba(240,240,240,1)
		border-bottom-left-radius 5px
		border-bottom-right-radius 5px
		border-top 1px solid #F53D68


#welcome
	width 100%
	background rgba(255,255,255,0.9)
	text-align center
	border-bottom 1px solid #A63400
	border-top 1px solid #FFF

#welcome-servicios
			background rgba(235,0,56,1)
			border-bottom 1px solid #FF4F00
			border-top 1px solid #FF4F00

#welcome-servicios article
							width 95%

#welcome-servicios article h3
								width 100%
								background-color #FC0

#welcome #wowslider-container1
					width 67%
					margin 0 auto
					display inline-block
					vertical-align top
					background rgba(255,255,255,0.2)
					position relative

#welcome #wowslider-container1  img 
									width 100%
									padding 0
									margin 0
									max-width 600px
.miniserv
	border-radius 5px
	border 5px solid #eee
	background-color #fff
	color #333
	padding 10px
	margin 2px 5px
	width 29%
	display inline-block
	vertical-align top
	transition all 1s ease
	text-align center
	box-shadow 0 0 2px 2px rgba(46, 49, 50, 0.3)

	p 
		width 80%
		margin 0
		padding 0
		text-align right

.miniserv .compartir 
			width 40%
			margin 0 2px
			padding 0
			display inline-block
			vertical-align top

.miniserv ul
			padding 0
			list-style-type none
			text-align right

.miniserv ul li 
				display inline-block
				vertical-align top
				padding 0
				width 20%
				margin 0 2px
	
.miniserv ul li a
					display inline-block
					vertical-align top
					padding 0
					font-size 1.8em
					color #D20033
					text-shadow 0 0 2px rgba(60,60,60,0.5)
					transition all 0.5s ease

.miniserv ul li a:hover
					color #00AF64
					transform scale(1.1)

.miniserv img
			width 100%
			margin 0

.miniserv:hover
	transform scale(1.08)

footer
	background-color #EA0037
	bottom 0%
	margin 0 auto
	padding 0
	position relative
	text-align center
	width 100%

.btn_reservar
			width 80%
			background red
			padding 8px 14px 10px
			border 1px solid red
			cursor pointer
			font-size 1.5em
			font-family Oswald, sans-serif
			letter-spacing .1em
			text-shadow 0 -1px 0px rgba(0, 0, 0, 0.3)
			color #fff
			box-shadow inset 0px 1px 0px rgba(255,100,255,0.5), 0px 5px 0px 0px rgba(255,160,200,0.9), 0px 10px 5px #999
			border-radius 10px


.btn_reservar:hover, .btn_reservar:focus 
								color #dfe7ea
								box-shadow inset 0px 1px 0px rgba(255,255,255,0.5), 0px 2px 0px 0px rgba(255,255,255,0.5), 0px 2px 5px #999
	

.submenu a
			display block
			text-decoration none
			height 25px
			padding 5px 5px 0 5px
			transition all 0.5s ease
			width 100%

.submenu a:hover
			display block
			background-color #EE3
			width 100%

blockquote
	font-size 18px
	color #09f
	font-weight 600
	margin 10px auto
	width 80%
	text-align center
	text-shadow -1px -1px 1px rgba(60,60,60,0.5)

section
	margin 0 auto
	width 100%
	padding 10px 10px
	background-color #EFEFEF
	text-align center

#bk-home,#bk-brincolines,#bk-servicios,#bk-faq,#bk-contacto,#bk-blog
	background-repeat no-repeat
	background-size 20%
	background-position right

#bk-home
	background-image url(../img/menu/ico_inicio.png)
	border-right 1px solid #BF6230

#bk-brincolines
	background-image url(../img/menu/ico_brincolines.png)
	border-left 1px solid #FFDC73
	border-right 1px solid #BF6230

#bk-servicios
	background-image url(../img/menu/ico_acercade.png)
	border-left 1px solid #FFDC73
	border-right 1px solid #BF6230

#bk-faq
	background-image url(../img/menu/ico_faq.png)
	border-left 1px solid #FFDC73
	border-right 1px solid #BF6230

#bk-contacto
	background-image url(../img/menu/ico_contacto.png)
	border-left 1px solid #FFDC73
	border-right 1px solid #BF6230

#bk-blog
	background-image url(../img/menu/ico_blog.png)
	border-left 1px solid #FFDC73

#mapa
	width 80%
	height 200px
	margin 10px auto
	display block
	border 1px solid #F33
	padding 0

#background
	box-sizing border-box
	height 100%
	margin 0
	padding 0
	position absolute
	top 0%
	width 100%
	z-index 0

#container
	margin 0 auto
	max-width 1200px
	padding 0
	position relative
	text-align center
	box-shadow 0px 0px 10px 0px #444

#item
	border 1px solid #cdcdcd
	width 96%
	margin 5px auto
	background rgba(250,250,250,1)
	border-radius 5px

	h3
		font-size 2.0em
		padding 2px
		padding-left 30px
		color #FFF
		background rgba(235,0,56,1)
		width 96%
		margin 15px auto 0 auto
		box-sizing border-box
		text-align left
		border-radius 5px

	figure
		width 60%
		margin 0
		padding 5px
		vertical-align top
		display inline-block
		border 1px solid #cdcdcd
		border-radius 5px
		background-color #efefef

		figcaption
			border-top 1px solid #ddd

		img 
			max-width 500px
			width 100%
			padding 0
			margin 5px

		p
			text-align left


#contact-area
	background-color #FF8C00
	border-radius 5px
	margin 10px auto
	width 70%
	padding 20px

#contact-area h4
	width 90%
	padding 0
	margin 0


#contact-area p
	font-size 1.4em
	margin 5px auto
	width 90%
	text-align left

#contact-area .nombre, .telefono, .email, textarea
	border 1px solid #CCC
	color #09F
	font-family Helvetica, sans-serif
	font-size 1.8em
	width 100%
	height 1.6em


#contact-area textarea
	font-size 1.4em

#contact-area .opinion
	border 1px dashed #FFF

#contact-area textarea focus, #contact-area input focus
	border 2px solid #F60

#contact-area input.submit-button
			background-color #FE3F1D
			border-radius 5px
			font-family Helvetica, sans-serif
			font-size 1.4em
			font-weight bolder
			height 70px
			margin 0 auto
			text-align center
			width 100%
			border 1px solid #900
			transition 1s all ease

#contact-area input.submit-button:hover
	border 2px solid yellow
	color yellow
	color orange

.btn_activo
	background-color #EA0037
	border-left 0
	
.submenu a link
	color #09F

.ayudaonline
	width 100%
	height 40px
	margin 0
	color #FC3
	padding 0
	text-align right
	background-image url(imagenes/ayudaonline.png)
	background-position right
	background-repeat no-repeat
	margin-right 20px
	padding-right 50px

.lista
	margin 20px auto
	width 100%
	padding 10px
	text-align center


.lista .img-list, .lista ol
	padding 0
	margin 0
	display inline-block
	vertical-align top

.lista .img-list
	width 15%

.lista .img-list img
	width 100%
	padding 0

.lista ol
	width 75%
	list-style none
	background-color #FC3
	border-radius 5px
	border 2px solid #F90
	padding 10px 0

.lista ol li
		color #f80012
		text-align left
		font-size 1.2em

.ubicacion
	background-color #F90
	margin 0 auto
	padding 0
	width 948px

.ubicacion p
	margin  auto
	text-align left

.uvideo
	margin 10px auto
	padding-top 10px
	text-align center
	width 80%

.uvideo a link
	color #03C

.banner
	width 650px
	margin 0 auto

#social-holder
	width 100%
	margin 5px auto
	text-align center
	padding 2px 0
	background-color #FB0
	border-radius 5px
	display inside-block

#social-holder ul li
	margin 2px
	padding 0
	display inline-block

#social-holder ul li a
	display block
	padding 0
	font-size 1.8em
	color #D20033
	text-shadow 0 0 2px rgba(60,60,60,0.5)
	transition all 0.5s ease

#social-holder ul li a:hover
	color #00AF64
	transform scale(1.1)


.fb-like-box
		margin 10px auto
		text-align center
		background-color #F60
		border 0

.boletin
	background-color #FB0
	border-radius 5px
	border 0
	border 1px solid #FD3
	display inline-block
	margin 0 auto
	padding 5px 2px
	text-align center
	vertical-align top
	width 100%

.boletin p
	width 90%
	background-color #00AF64
	padding 5px
	border-radius 3px
	font-size 1.0em
	color #fff
	margin 5px auto

.boletin .nombre-bol
	width 96%
	margin 0 auto
	padding 0
	height 30px
	border-top 1px solid #09f
	border-right 1px solid #09f

.boletin .email-bol
	width 96%
	margin 0 auto
	padding 2px
	border-top 1px solid #09f
	border-right 1px solid #09f
	color #FFA400

.boletin .btn-bol
	width 90%
	background-color #DDD
	margin 0 auto
	padding 0
	height 35px
	border-radius 5px
	border 1px solid #CCC
	color #555
	box-shadow 0 0 5px rgba(60,60,60,0.5)
	cursor pointer
	transition all 1s ease

.boletin .btn-bol:hover
	background-color #00BF32
	color #fff

.boletin #tlemail
	width 90%
	font-size 1.2em
	color #09f

.submenu
	background-color #FC3
	color #9C0
	padding 0
	text-align center
    margin 0 auto

.submenu ul
	margin 0 auto
	width 80%
	padding 0

.submenu li
	border-left 2px solid #FF9
	border-right 2px solid #F90
	display inline-block
	vertical-align top
	height 30px
	list-style-type none
	margin 0
	padding 0

.submenu li.nb-left
	border-left 0

.submenu li.nb-right
	border-right 0


.credits
	margin 0 auto
	color #FFF
	text-align center


.credits alink
	text-decoration none
	padding 0
	margin-top 0

.credits p
	margin 0 auto
	padding 10px 0
	text-align center
	width 80%


.cat
	margin 5px auto
	width 100%

.cat
	margin 0 auto

.articborder
	border-bottom 1px dashed #09F
	margin 10px

#mapadesitio
	margin 0 auto
	width 80%
	padding 0

#mapadesitio li
	color #F60
	float none
	font-size 1.2em
	list-style disc
	margin-left 20px

#mapadesitio a, #mapadesitio a:link, #mapadesitio a:visited
	text-decoration underline

.fltrt
 	float right
	margin-left 8px

.fltlft
 	float left
	margin-right 8px

.clearfloat
	clear both

@import "responsive.styl"
@import "style-reservacion.styl"