
.menu_inflables
	width 100%
	margin 0 auto
	text-align center

.menu_inflables h3
	font-size 1.4em
	color #fff
	width 100%
	display block
	background-color #FF4900
	padding 5px
	text-align center
	border-radius 0

.menu_inflables h4
	color #ffff
	font-size 1em
	text-align center
	background-color #22C746
	font-family Arial

.menu_inflables h5
	font-size 1em
	text-align center
	color #5BF93F
	span
		color #22C746

.menu_inflables figure
	border-radius 3px
	background-color #2164E0
	color #333
	padding 10px
	margin 5px
	width 22%
	display inline-block
	vertical-align top
	transition 0.2s ease-out
	text-align center
	box-shadow 0 0 2px 1px rgba(46, 49, 50, 0.3)
	box-sizing border-box

	figcaption
		color #fff

	.btn_mas
		width 70%
		display block;
		margin 5px auto
		background-color #FF9100
		border-radius 2px
		color #fff
		box-shadow 0 0 5px #888
		text-align center
		padding 3px

	.btn_mas a:link
		color #ccc 

	.btn_mas:hover
		background-color #EFB32D
		color #fff

.menu_inflables figure img
	width 100%
	padding 0
	margin 0
	border-radius 5px

.menu_inflables figure:hover
	transform scale(1.02,1.02);