@media screen and (max-width:945px)
	nav ul li
		vertical-align top
		text-align center
	
	nav ul
		text-align left

@media screen and (max-width:800px)
	.p2, .p3
		display none

	nav ul li
		width 19.7%

	.menu_inflables figure
		width 38%

@media screen and (max-width:650px)
	header nav ul li
					width 33.0%
					padding 0

	h3
		text-align left

	.lista-imagenes, .datos
		width 100%
		display block
		margin auto

	article, aside
		width 100%
		display block

	aside
		margin-top 10px
		text-align center

	.submenu 
		display none

	#welcome
		padding 0
		margin 0


		#wowslider-container1
			display block
			width 98%
			padding 0
			margin 0

		#box-ofer
			display none

figure .fb-like
		display none

#banner_video #vp1XqISc
	text-align center
	padding 0
	margin 0
	width 100%

@media screen and (max-width:600px)
	.menu_inflables figure
						width 40%

@media screen and (max-width:520px)

	header, header nav
		padding 0
		margin 0

	header nav ul
				padding 2px
				margin 0 auto

	header nav ul li
					border 0
					width 49.1%
					margin 2px

	header nav #bk-home,#bk-brincolines,#bk-mobiliarioytoldos,#bk-faq,#bk-contacto,#bk-blog
		background-image none
		border 0	

	header
		text-align center
		margin 0 auto


	#wowslider-container1
							display block
							width 100%

	figure
			padding 0

	h4
		padding 0
		margin 0
		display none
	
	#social-holder
		width auto
		margin auto
		text-align center
	
	.p1
		display none

	.menu_inflables figure
		width 40%

	.lista-imagenes ul li
		width 45%

@media screen and (max-width:480px)
	header nav ul
		padding 0

	header nav ul li
		width 48.5%

	#welcome-servicios
		padding 0
		margin 0 auto
		text-align center

	.miniserv
		padding 0
		margin 5px auto
		width 70%
		display block


@media screen and (max-width:320px)
	h1
		font-size 2.4em

	#bk-home,#bk-brincolines,#bk-acercade,#bk-faq,#bk-contacto,#bk-blog
																		background-image none

	header nav ul li a
		text-align center

	nav ul li
				width 40%

	p
		text-align center
	li
		text-align left

	.menu_inflables figure
						width 90%

	.lista-imagenes ul li
						width 90%
