@charset "utf-8";
*{
	margin:0;
	padding:0;
}


body  
{
	background-color:#CCEEFF;
	background-image:url(imagenes/bg.png);
	background-repeat:repeat-x;
	color: #FFF;
	font-family:Arial,'Doppio One',"Arial Black",sans-serif;
	font-size: 16px;
	margin: 0 auto;
	padding: 0;
}

img
{
	border:0; 
}
h1, h2, h3, h4, h5, h6
{
	margin:0 auto;
}
h1
{
	color:#FC3;
	font-size:3.0em;
	font-family:"Arial Black";

}
h3
{
	font-size: 2.0em;
	font-family:Helvetica;
	padding-left:30px; color:#FC0;
	background:#FF4900; width:100%;
	border-top-right-radius:10px;
	box-sizing:border-box;
	text-shadow: 2px 2px 2px rgba(60,60,60,0.5);
}
h4
{
	color:#FC0; font-size:1.6em; padding:0 20px;
	text-shadow: 2px 2px 2px rgba(60,60,60,0.5);
}

h5
{ 
	font-size:1.2em; padding-left:30px;
}
h6
{
	font-size:1.0em;
}




a
{
	text-decoration:none;
}
a:link
{
	color:#66C;
}
a:hover
{
	color:#06F;
}
a:visited
{
	color:#036;
}
a:active
{
	color:#0C9;
}

section, article, aside, nav, .lista, .lista img, .lista ol, .lista li, .boletin, .boletin p, .menu_inflables ul li, .menu_inflables img:hover, .lista-imagenes ul, .lista-imagenes li, #ubicacion
{
	box-sizing:border-box;
}

{
	margin:2px auto; list-style-position:inside; list-style-type:disc; color:#F30; padding:0 10px;
}

h3 img
{
	float:right; padding-right:20px;
}

header
{
	display:block;
	margin:20px auto 0 auto;
	padding: 0px;
    max-width:950px;
} 
header p 
{
	width:80%;
}
header .logo
{
	border:0;
	display:block;
	float:left;
	margin:10px;
}
header ol
{
	list-style:none; 
	text-decoration:none;
	padding:0;
	margin:0 auto;
}
article
{
background-color:#ededed;
border-bottom-right-radius:10px;-webkit-border-top-right-radius:10px;-moz-border-top-right-radius:10px;
border-top-right-radius:10px;-moz-border-top-right-radius:10px;-o-border-top-right-radius:10px;-moz-border-top-right-radius:10px;
border:1px solid #F60;
box-shadow:3px 3px 10px #333;-webkit-box-shadow:3px 3px 10px #333;-moz-box-shadow:3px 3px 10px #333;
color:#121212;
display:inline-block;
margin:0 auto;
padding:0px;
text-align:justify;
vertical-align:top;
width:70%;
}
article .lista li p
{
	width:75%; margin:5px auto; text-align:justify; padding:0; color:#39F;
}
p
{
	font-size:1.1em;
	margin:15px auto;
	width:85%;
	/*text-shadow:0 0 5px rgba(45,45,45,0.3);*/
	}
article p .imgtop
{
	width:100%;border:2px solid #F60;
}


aside
{
	width:28%; margin:0 auto;text-align:center;padding:0px;
    display:inline-block;
}
footer 
{
	background-color:#FF4900;
	bottom:0%;
	margin:0 auto;
	padding:0;
	position:relative;
	text-align:center;
	z-index:1;
    width:100%;
}
footer .submenu a:link
{
	display:block; text-decoration:none; height:25px; padding:5px 5px 0 5px;
}
footer .submenu a:hover
{
	display:block;background-color:#FD0;
}
blockquote
{
	font-size:18px; color:#FA0; font-weight:600; margin:10px auto; width:80%; text-align:center;
	text-shadow: -1px -1px 1px rgba(60,60,60,0.5);

}
nav 
{
	background-color:#E40045; 
	border-radius:5px;
	border:1px solid #F60;
	box-shadow:0 0 10px 2px rgba(60,60,60,0.8);
	margin:0 auto;
	padding:5px;
	text-align:center;
		}
nav ul
{
	padding:0;background-color:#FE4900; font-size:0;
}
nav ul li
{
	background-color:#FF4900;
	border:1px solid #D30;
	border-radius: 5px;
	color:#FFF;
	display:inline-block;
	font-size:16px;
	height:45px;
	line-height:45px;
	margin:2px;
	text-align:right; 
	width:15%;
    background-position:left center; 
    background-repeat:no-repeat; 
    background-size:35px; 
    background-origin:content-box;
    padding-left:px; padding-right:5px;
    transition: all 1s ease;
    box-shadow: 1px 1px 2px rgba(60,60,60,0.5);

}
nav a:link, nav a:hover, nav a:visited 
{
	display:block; color:#FFF;
	text-decoration: none;
}




nav ul li img
{
	border:1px solid #F00;margin:5px auto; display:inline-block;
}
nav ul li:hover
{
	background-color:#FC6; -webkit-transition: all 3s ease-in-ou;
}
nav ul li:active
{
	background-color:#FC0;

}
nav ul li:visited
{
	border:1px solid #D30
}
	
section
{
	background-color:#FF9200;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border:1px solid #FF4900;
	box-shadow:0 0 10px 2px rgba(60,60,60,0.8);
	display:block;
	margin:10px auto;
	max-width:950px;
	padding:20px 0;
}
#bk-home
{
	background-image:url(img/menu/ico_inicio.png);
}
#bk-brincolines
{
	background-image:url(img/menu/ico_brincolines.png);
}
#bk-acercade
{
	background-image:url(img/menu/ico_acercade.png);
}
#bk-faq
{
	background-image:url(img/menu/ico_faq.png);
}
#bk-contacto
{
	background-image:url(img/menu/ico_contacto.png);
}
#bk-blog
{
	background-image:url(img/menu/ico_blog.png);
}
#cabecera
{
	width:750px; height:250px; border:1px solid #09F; border-radius:10px; float:left; margin:0 auto 10px 10px; background-color:#0BF; background-image:url(imagenes/201017031358-17034.jpg); box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

#mapa
{
	width:80%; height:200px; margin:10px auto;display:block; border:1px solid #F33; padding:0;
}
#background
{
	box-sizing:border-box;
	height:100%;
	margin:0;
	padding:0;
	position:absolute;
	top:0%;
	width:100%;
	z-index:0;

}
#container 
{
	margin: 0 auto;
	max-width:1000px;
	padding:0;
	position:relative;
	text-align:justify;
	z-index:3;
}
#pasto_agua
{
	bottom:0%;
	height:450px;
	margin:0;
	padding:0;
	position:relative;
	width:100%;
	z-index:1;
}
#contact-area 
{
	border:1px dashed #FC6;
	margin:10px auto;
	max-width: 500px;
	padding:20px;
	}
#contact-area h4
{
	width:100%; padding:0; margin:0;
}
#contact-area p
{
	font-size: 1.4em;
	margin:5px auto ;
	width:80%;
	}

#contact-area .nombre, .telefono, .email, textarea 
{
	border:1px solid #CCC;
	color:#F90;
	font-family: Helvetica, sans-serif;
	font-size: 1.2em;
	width: 100%;
}

#contact-area textarea
 {
	font-size: 1.4em;

}
#contact-area .opinion 
{
	border:1px dashed #FFF;
}

#contact-area textarea:focus, #contact-area input:focus
{
	border: 2px solid #F60;
}

#contact-area input.submit-button
{
	background-color:#FE3F1D;
	border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
	color:#900;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	font-weight:bolder;
	height:70px;
	margin:0 auto;
	text-align:center;
	width: 100%;
    border:1px solid #900;

}
#contact-area input.submit-button:hover
{
	border:2px solid #F99; color:#FFF;
}
.btn_activo {

	background-color:#FF9500;
	box-shadow: 1px 1px 2px rgba(60,60,60,0.5);

}
.submenu a:link
{
	color:#09F;
}
.ayudaonline
{
	width:100%;
	height:40px; 
	margin:0; 
	color:#FC3; 
	padding:0;
	text-align:right;
	background-image:url(imagenes/ayudaonline.png);
	background-position:right; background-repeat:no-repeat; 
	margin-right:20px; padding-right:50px;
}
.lista
{
	margin:20px auto; 
	width:90%; 
	padding:0;

}
.lista .img-list, .lista ol
{
	padding:0; 
	margin:0;
	display:inline-block; 
	vertical-align:top;
}
.lista .img-list
{
	width:20%;
}
.lista .img-list img
{
	width:100%;
}
.lista ol
{
	width:78%; 
	list-style:none; 
	background-color:#FC3; 
	border-radius:5px;
	border:2px solid #F90; 
	padding: 10px;
}
.lista li

.ubicacion
{
	background-color:#F90;
	margin:0 auto;
	padding:0;
	width:948px;
	
}
.ubicacion p
{ 
	margin:0 auto; text-align:left;
}
.uvideo
{
	height:80%;
	margin:10px auto;
	padding-top:10px;
	text-align:center;
	width:80%;
}
.uvideo a:link
{color:#03C;
}

.banner
{
	width:650px; margin:0 auto;
}

.inflable-top
{
	display:block;
	float:right;
	height:100px;
	margin:0 auto;
	padding-right:20px;
	text-align:right;
}
/*** fondos de los li ***/



.social
{
	width:100%; margin:0; text-align:left;padding:0;
}
.social li
{
	
	height: 32px;
	margin:2px;
	padding:0;
    display:inline-block;
	
}

.social a
{
	display: block;
	height: 32px;
	padding:0;
}

.fb-like-box
{ 
	margin:10px auto;
	text-align:center;
	background-color:#F60;
	width:auto;
}
.boletin
{
background-color:#FB0;
border-radius:5px;
border:0;
border:1px solid #FD3;
display:inline-block;
float:none;
margin:0 auto;
padding:5px 2px;
text-align:center;
vertical-align:top;
width:96%;
}

.boletin p
{
	width:90%; 
	background-color:#00AF64;
	padding:5px;
	border-radius:3px;
	font-size:1.0em;
}
.boletin .nombre-bol
{
	width:90%;margin:0 auto;padding:0;height:30px; border-top:1px solid #09f;border-right:1px solid #09f;
}
.boletin .email-bol
{
	width:90%;
	margin:0 auto;
	padding:2px;
	border-top:1px solid #09f;
	border-right:1px solid #09f;
	color:#FFA400;

}
.boletin .btn-bol
{
	width:90%;
	margin:0 auto;padding:0; 
	height:35px;
	border-radius:5px;
	border:1px solid #CCC;
	color:#555;
	box-shadow: 0 0 5px rgba(60,60,60,0.5);
}
.boletin .btn-bol:hover
{
background-color: #00BF32;
color:#fff;

}

.submenu
{
	background-color:#FC3;
	color:#9C0;
	padding:0;
	text-align:center;
    margin:0 auto;
}
.submenu ul
{
	margin:0 auto; width:80%;
	padding: 0; 
}
.submenu li
{
	border-left:2px solid #FF9;
	border-right:2px solid #F90;
	display:inline-block;
	vertical-align: top;
	height:30px;
	list-style-type:none;
	margin:0;
	padding:0;
}
.submenu li.nb-left
{
	border-left:0;
}

.submenu li.nb-right
{
	border-right:0;
}

.credits
{
	margin:0 auto;
	color: #FFF;
	text-align:center;

}
.credits a:link
{
	text-decoration:none;
	padding: 0;
	margin-top: 0;
}
.credits p
{
	margin: 0 auto;
	padding: 10px 0;
	text-align:center;
	width:80%;
}

.menu_inflables
{
	width:90%; margin:0 auto;
}
.menu_inflables h5
{
	padding:0; font-size:16px; font-weight:100;
}
.menu_inflables a
{
	color:#FFF; text-align:center;
}
.menu_inflables a:hover
{
	color:#FF6;
}
.menu_inflables ul
{
	padding:0;
	margin:0 auto;
	text-align: center;
}
.menu_inflables ul li
{
	border-radius: 5px;
	border-radius: 5px;
	border-radius: 5px;
	display:inline-block;
	list-style:none;
	margin:10px 5px; 
	text-align:center;
	text-decoration:none;
    transition:all 0.5s ease;
    padding:5px;
    transition:all 0.5s ease;
    width: 160px;
    box-shadow: 3px 3px 2px rgba(46, 49, 50, 0.3);
}
.menu_inflables img
{
	width:100%;
}
.menu_inflables ul li:hover
{
	transform:scale(1.08);
}
.fondoli-azul{
	border:1px solid #03C;
	background-color:#07F;
}
	.fondoli-naranja
{
	border:1px solid #C00;
	background-color:#FF4900;
}
	.fondoli-verde
{
	border:1px solid #393;
	background-color:#9C0;
}



.datos
{
	display:inline-block;
	vertical-align: top;
	width:40%;
	padding:2%;
	
}
.lista-imagenes
{
	display:inline-block;
	vertical-align: top;
	width:50%;
	padding:2%;
	text-align: center;
}


.lista-imagenes ul
{
	padding:0;
	text-align:center;
	
}
.lista-imagenes li
{
	display:inline-block; 
	list-style-type:none;
	margin:2px;
	transition:all 0.4s ease;
	transition:all 0.4s ease;
	width:25%;
}
.lista-imagenes li img
{
	width:100%;
	padding:0;
	box-shadow: 3px 3px 2px rgba(46, 49, 50, 0.3);
	border:1px solid #D30;
}
.lista-imagenes li:hover
{
	transform:scale(1.08);
	transform:scale(1.08);
}


.menu_inflables_mini 
{
	margin:0 auto;
	padding:2px;
	width:90%;
	background-color:#FF4900; 
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.menu_inflables_mini li
{
	list-style:none;
	margin:0 1px;
	padding:0;
	text-decoration:none;
	width: 15%;
	display:inline-block;
	text-align: center;
	border:1px #d3e;
}
.menu_inflables_mini li img
{
width:100%;
padding:0;
margin:1px;
}



.cat
{
	margin:5px auto;
	width:100%;
}


.cat
{	
margin:0 auto;
}

.articborder
{
border-bottom:1px dashed #09F;
margin:10px;
}
.menu_mapa h5
{
	padding-left:30px;
}
.menu_mapa li
{
	color:#F60;
	float:none;
	font-size:1.2em;
	list-style:disc;
	margin-left:20px;
}
.menu_mapa a, a:link, a:visited
{
	text-decoration:underline;
}
/* Varias clases diversas para su reutilización */
.fltrt 
{ /* esta clase puede utilizarse para que un elemento flote en la parte derecha de la página. El elemento flotante debe preceder al elemento junto al que debe aparecer en la página. */
	float: right;
	margin-left: 8px;
}
.fltlft 
{ /* esta clase puede utilizarse para que un elemento flote en la parte izquierda de la página. */
	float: left;
	margin-right: 8px;
}
.clearfloat 
{ /* esta clase debe colocarse en un elemento div o break y debe ser el último elemento antes del cierre de un contenedor que incluya completamente a un elemento flotante */
	clear:both;
}
@media screen and (max-width: 300px)
{
	h1
	{
		font-size:2.4em

	}
}
@media screen and (max-width: 500px)
{
    header .logo
	{
		float: none;
		padding-right:0;
	    text-align:center;
	    margin: auto;
	}
	.inflable-top
	{
		display:none;

	}

	article, aside
	{
		width:100%;
		display:block;
	}
	header
	{
		text-align: center;
	}
	aside 
	{
		margin-top: 10px;
		text-align: center;
	}
	#social-holder
	{
		width: auto;
		margin:auto;
		text-align: center;
	}
}
@media screen and (max-width: 650px)
{
	header nav ul li
	{
		width: 40%;
	}
	h3
	{
		text-align: left;
	}

	.lista-imagenes, .datos
	{
		width:100%;
		display:block;
		margin: auto;
	}
}
@media screen and (max-width: 850px)
{
	.fb-like-box
	{
		display: none;
		overflow: hidden;
	}
}