@media screen and (max-width:945px)
	nav ul li
		width 15%

@media screen and (max-width:800px)
	.p2, .p3
		display none

	.menu_inflables figure
		width 38%

@media screen and (max-width:650px)
	header nav ul li
		width 32%

	h3
		text-align left

	.lista-imagenes, .datos
		width 100%
		display block
		margin auto

	article, aside
		width 100%
		display block

	aside
		margin-top 10px
		text-align center

	.submenu 
		display none

@media screen and (max-width:600px)
	.menu_inflables figure
		width 40%

@media screen and (max-width:500px)
	header nav ul li
		width 45%
	header
		text-align center
		margin 0 auto

	header #inflabletop
		display none

	header #logo
		display block
		width 25%
		text-align center
		margin 0 auto

	#social-holder
		width auto
		margin auto
		text-align center
	
	.p1
		display none

	.menu_inflables figure
						width 40%

	.lista-imagenes ul li
						width 45%

@media screen and (max-width:450px)
	article .lista
				display none

	.validators
		display none

@media screen and (max-width:320px)
	h1
		font-size 2.4em

	#bk-home,#bk-brincolines,#bk-acercade,#bk-faq,#bk-contacto,#bk-blog
		background-image none

	header nav ul li a
		text-align center
	p
		text-align center
	li
		text-align left

	.menu_inflables figure
						width 90%

	.lista-imagenes ul li
						width 90%